<style>
	.span {
		width:90%;
		margin:0 auto;
		background:white;
		padding-left:4%;
		padding-right:4%;
		padding-top:1%;
		padding-bottom:1%;
	}
	.comentar {
		width:98%;
		background:white;
		padding-left:1%;
		padding-right:1%; 
		padding-top:1%;
		padding-bottom:0.5%;
	}
	.chat {
		width:98%;
		background:orange;
		padding-left:1%;
		padding-right:1%;
		padding-top:1%;
		padding-bottom:1%;
		margin-top:1%;
	}
	.marco {
		max-height:400px;
		overflow:scroll;
	}
	.div_image {
		position: relative;
		width:5%;
		float:left;
	}
	.div_txt {
		position: relative;
		width: 88%;
		left: 7%;
		float:left;
	}
</style>
<script src="/media/js-base64-master/base64.js"></script>
<script>
	var last_time="";
	var audio = new Audio('/media/communication-channel.mp3');
	function comentar(art_id,id) {
		var url = location.origin+'/blog/comentario_chat/'+art_id+'/';
		var method = 'POST';
		//var postData = new FormData();
		//postData.append('comentarios', id.value);
		var postData="comentarios="+id.value;
		var async = true;
		var request = new XMLHttpRequest();
		request.onload = function () {
			var status = request.status; // HTTP response status, e.g., 200 for "200 OK"
			var data = request.responseText; // Returned data, e.g., an HTML document.
			if (status==200&&data=="OK"){
				$('.marco').animate({
					scrollTop: '1000000px'
				}, 'fast');
			}
		}
		request.open(method, url, async);
		request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		request.send(postData);
		id.value="";
	}
	
	function update_chat(art_id) {
		var url = location.origin+'/blog/actualizar_comentarios/';
		var method = 'POST';
		//var postData = new FormData();
		//postData.append('articulo_id', art_id);
		//postData.append('last_datetime', last_time);
		var postData="articulo_id="+art_id+"&last_datetime="+last_time;
		var async = true;
		var request = new XMLHttpRequest();
		request.onload = function () {
			var status = request.status; // HTTP response status, e.g., 200 for "200 OK"
			var data = request.responseText; // Returned data, e.g., an HTML document.
			if (status==200&&data!=""){
				var comentario=data.split("\n");
				var comentarios=document.getElementById('comentarios');
				for(i=0;i<comentario.length;i++){
					var str_splited=comentario[i].split(";");
					if(str_splited.length==6) {
						var mdiv=document.createElement("div");
						mdiv.setAttribute('class', 'span');
						var img_div=document.createElement("div");
						img_div.setAttribute('class', 'div_image');
						var x = "";
						if(str_splited[5]!="") {
							x=location.origin+str_splited[5];
						}
						else {
							x=location.origin+"/media/avatar.jpg"
						}
						img_div.innerHTML='<img src="'+x+'" height="100%" width="100%">';
						var k = document.createElement("a");
						k.innerHTML='<FONT SIZE=1>'+str_splited[4]+'</FONT>'
						var txt_div=document.createElement("div");
						txt_div.setAttribute('class', 'div_txt');
						var y = document.createElement("span");
						y.innerHTML='<font size="1">'+str_splited[3].substring(0,19)+'</font><br>'
						var z = document.createElement("span");
						z.innerHTML='<font size="2">'+Base64.decode(str_splited[1])+'</font>'
						img_div.appendChild(k);
						txt_div.appendChild(y);
						txt_div.appendChild(z);
						mdiv.appendChild(img_div);
						mdiv.appendChild(txt_div);
						comentarios.appendChild(mdiv);
					}
				}
				last_time=comentario[comentario.length -1].split(";")[3];
				audio.play();
			}
		}
		request.open(method, url, async);
		request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		request.send(postData);
	}
</script>
<div class="chat" >
	<font color="green" size="4"><b>SALA DE CHAT:</b></font>	
	<div class="marco" >
		<div class="comentarios" id="comentarios">
		</div>
		<div class="comentar">
			{% if usuario != None %}
				{% if usuario.agenda.foto_perfil.url != None %}
					<img src="{{ usuario.agenda.foto_perfil.url }}" class="comfot" alt="Avatar" width="4%" style="float: left;padding-right:1%">
				{% else %}
					<img src="/media/avatar.jpg" class="comfot" alt="Avatar" width="4%" style="float: left;padding-right:1%">
				{% endif %}
				<form action="#" onsubmit="mhandle();return false" enctype="multipart/form-data" accept-charset="utf-8" >
					<input type="text" rows="1" value="" style="width: 93%;" id="text_com" >
				</form>
			{% endif %}
		</div>
	</div>
</div>
<script>
	window_focus=true;
	function mhandle(){
		comentar({{articulo_id}},document.getElementById('text_com'));
	}
	$('.marco').animate({
			scrollTop: '9999999px'
		}, 'fast');
	window.onload = function() { 
		window.onfocus = function() { window_focus = true; };
		window.onblur = function() { window_focus = false; };
	};
	function refresh_chat() {
		if(window_focus){
			update_chat({{articulo_id}});
		}
	}
	window.setInterval("refresh_chat();", 1000);
</script>

