<!DOCTYPE html>
<html>
<head>
<!--
	<link rel="stylesheet" href="style.css" />
-->
	<title>{% block title %}Blog de Nutrición sin gluten{% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<meta name="viewport" content="width=400" />
<body style="background-color:black; color:orange">
	<script src="/media/jquery-1.11.3.js"></script>
	<script src="/media/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function cambiar(valor) {
			var imagen=document.getElementById("foto_perfil");
			imagen.src=URL.createObjectURL(valor[0]);
			var accion_imagen=document.getElementById("accion_imagen");
			accion_imagen.value="limpiar";
			var perfil_chequear=document.getElementById("perfil_chequear");
			perfil_chequear.value="no";
		}
		function actualizar_imagen_perfil_de_url(url_value) {
			var imagen=document.getElementById("foto_perfil");
			var accion_imagen=document.getElementById("accion_imagen");
			if(url_value!=""){
				imagen.src=url_value;
				accion_imagen.value="limpiar";
			}
			else {
				imagen.src="/media/avatar.jpg";
				boton_imagen.value="buscar";
			}
		}
		function boton_imagen(boton_imagen) {
			var perfil=document.getElementById("perfil");
			var imagen=document.getElementById("foto_perfil");
			if(boton_imagen.value=="limpiar"){
				perfil.value="";
				imagen.src="/media/avatar.jpg";
				boton_imagen.value="buscar";
				perfil_chequear.value="no";
			}
			else {
				perfil.click();
			}
			
		}
		$( document ).ready(function(){	
			$("#eliminar").click(function(){
				var r = confirm("¿Está seguro que quiere eliminar el usuario (se eliminará todos los comentarios)?");
				if (r==false){
					return false;
				}
			});
		});
	</script>
	<div>
		<form action="." enctype="multipart/form-data" method="POST">
			{% csrf_token %}
			<br>
			Usuario: <input type="text" name="user" value="{{ usuario.usuario }}" required>
			<br>
			Contraseña: <input type="password" name="pass" value="{{ usuario.contrasena }}">
			<br>
			Nombre completo: <input type="text" name="name" value="{{ usuario.agenda.nombre }}" required>
			<br>
			Correo electrónico: <input type="email" name="email" value="{{ usuario.agenda.email }}">
			<br>
			Teléfono fijo: <input type="tel" name="phone" value="{{ usuario.agenda.fijo }}">
			<br>
			Teléfono celular: <input type="tel" name="movil" value="{{ usuario.agenda.celular }}">
			<br> 
			<img src="" id="foto_perfil" alt="Avatar" height="67" width="67">
			<input type="button" id="accion_imagen" value="buscar" onclick="boton_imagen(this)">
			<br>
			<input type="file" name="perfil" id="perfil" accept="image/*" onchange="cambiar(this.files)" style="display:none"> 
			<input type="text" name="perfil_chequear" id="perfil_chequear" value="si" style="display:none">
			<script>
				{% if usuario.agenda.foto_perfil.url != None %}
					actualizar_imagen_perfil_de_url("{{ usuario.agenda.foto_perfil.url }}");
				{% else %}
					actualizar_imagen_perfil_de_url("");
				{% endif %}
			</script>
			<br><br>
			<input type="submit" value="guardar">
			<input type="button" value="volver" onclick="window.open('..','_self');">
			<input type="submit" value="eliminar" form="eliminar_form" id="eliminar" style="float:left">
		</form> 
		<form action="eliminar_cuenta/" id="eliminar_form" method="POST">
			{% csrf_token %}
			
		</form> 
	</div>
</body>
</html>
