<!DOCTYPE html>
<html>
<head>
<!--
	<link rel="stylesheet" href="style.css" />
-->
	<title>{% block title %}Blog de Nutrición sin gluten{% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<meta name="viewport" content="width=400" />
<body style="background-color:black; color:orange">
	<script src="/media/jquery-1.11.3.js"></script>
	<script src="/media/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function cambiar(valor) {
			var imagen=document.getElementById("foto_perfil");
			imagen.src=URL.createObjectURL(valor[0]);
			var accion_imagen=document.getElementById("accion_imagen");
			accion_imagen.value="limpiar";
		}
		function boton_imagen(boton_imagen) {
			var perfil=document.getElementById("perfil");
			var imagen=document.getElementById("foto_perfil");
			if(perfil.value!=""){
				perfil.value="";
				imagen.src="/media/avatar.jpg";
				boton_imagen.value="buscar";
			}
			else {
				perfil.click();
			}
			
		}
	</script>
	<div>
		<form action="." enctype="multipart/form-data" method="POST">
			{% csrf_token %}
			<br>
			Usuario: <input type="text" name="user" value="" required>
			<br>
			Contraseña: <input type="password" name="pass" value="">
			<br>
			Nombre completo: <input type="text" name="name" value="" required>
			<br>
			Correo electrónico: <input type="email" name="email" value="" required>
			<br>
			Teléfono fijo: <input type="tel" name="phone" value="">
			<br>
			Teléfono celular: <input type="tel" name="movil" value="">
			<br> 
			Foto perfíl: <img src="/media/avatar.jpg" id="foto_perfil" name="foto_perfil" alt="Avatar" height="67" width="67">
			<input type="button" id="accion_imagen" value="buscar" onclick="boton_imagen(this)">
			<br>
			<input type="file" name="perfil" id="perfil" accept="image/*" onchange="cambiar(this.files)" style="display:none"> 
			<br><br>
			<input type="submit" value="crear">
			<input type="button" value="volver" onclick="window.open('..','_self');">
		</form> 
	</div>
</body>
</html>
