<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% block title %}Blog de Nutrición sin gluten{% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<meta name="viewport" content="width=600" />
<body style="background-color:white; color:#8A2908">
	<script src="/media/jquery-1.11.3.js"></script>
	<script src="/media/bootstrap/js/bootstrap.min.js"></script>
	<script>
		window.onload=function(){
			var pos=window.name || 0;
			window.scrollTo(0,pos);
		}
		window.onunload=function(){
			window.name=self.pageYOffset || (document.documentElement.scrollTop+document.body.scrollTop);
		} 
	</script>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<FONT SIZE=4>
		<div class="navbar-inner" style="width:100%;">
			<div align="left" style="width: 50%; float: left;">
				{% if volver  %}
					<ul class="nav navbar-nav">
						{% if modo != 3 %}
							<li><a href="/blog/lista_detalle/{{ blogid }}" >Volver</a></li>
						{% else %}
							<li><a href="/blog" >Volver</a></li>
						{% endif %}	
					</ul>
				{% endif %}	
				{% if login %}
					<ul class="nav navbar-nav">
						{% if usuario %}
							<li><a href="logout" >Logout</a></li>
						{% else %}
							<li><a href="login" >Loguin</a></li>
						{% endif %}
					</ul>
				{% endif %}	
			</div>
			<div align="right" style="width: 50%; float: left;">
				{% if usuario %}
					{% if login %}
						<span style="vertical-align: middle;"><FONT COLOR="white">{{ usuario.usuario }}</FONT></span><br>
						<span style="vertical-align: middle;"><a href="config_account" >Configurar cuenta</a></span>
					{% else %}
						<span style="vertical-align: middle;"><FONT COLOR="white">{{ usuario.usuario }}</FONT></span>
					{% endif %}
				{% endif %}
			</div>
		</div>
		</FONT>
	</nav>
	<br><br><br>
	<div style="width:99%; ">
		<br><br>
		<ul>
			<div align="left">
				<h1>{{ articulo.titulo }}</h1>
				<br><br><br><br>
				<FONT SIZE=4>{{ articulo.mensaje|safe }}</FONT>
			</div>			
			<br><br>
			<div align="right">
				<FONT SIZE=2><I>Fecha de publicación: {{ articulo.fecha_creacion }}</I></FONT>
				<br><br>
			</div>
			<br>
			<div style="width: 50%; float: left;">
				{% if previousid %}
					<a href="/blog/detalle/{{ blogid }}-{{ previousid }} "><p style="text-align: left;">&lt; {{ previous_titulo }}</p></a>
				{% endif %}
			</div>
			<div style="width: 50%; float: right;">
				{% if nextid %}
					<a href="/blog/detalle/{{ blogid }}-{{ nextid }}"><p style="text-align: right;">{{ next_titulo }} &gt;</p></a>
				{% endif %}
			</div>
			<br><hr style="border:1px solid;"><br>
			{% if articulo.modo == 1 %}
				{% include 'foro.html' with articulo=articulo usuario=usuario %}
			{% elif articulo.modo == 2 %}
				{% include 'chat.html' with articulo_id=articulo.id usuario=usuario %}
			{% endif %}
		</ul>
		&nbsp;
		<hr border-width: 1px>
	</div>
</body>
</html>
