<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Blog de Nutrición sin gluten{% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<meta name="viewport" content="width=600" />
<body style="background-color:white; color:#8A2908">
	<script src="/media/jquery-1.11.3.js"></script>
	<script src="/media/bootstrap/js/bootstrap.min.js"></script>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<FONT SIZE=4>
		<div class="navbar-inner" style="width:100%;">
			<div align="left" style="width: 50%; float: left;">
				<ul class="nav navbar-nav">
				{% if usuario %}
					<li><a href="logout" >Logout</a></li>
				{% else %}
					<li><a href="login" >Loguin</a></li>
				{% endif %}
				</ul>	
			</div>
			<div align="right" style="left: 50%; width: 50%; float: left;">
				{% if usuario %}
					<span style="vertical-align: middle;"><FONT COLOR="white">{{ usuario.usuario }}</FONT></span><br>
					<span style="vertical-align: middle;"><a href="config_account" >Configurar cuenta</a></span>
				{% endif %}
			</div>
		</div>
		</FONT>
	</nav>
	<br><br><br>
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<h1>Nutrición sin gluten</h2>
			<hr style="border-width:1px; background-color:black;color:black;border-style: inset;">
			{% for blog in blogs %}
				<div>
					<FONT SIZE=6><strong>{{ blog.titulo }}</strong></FONT>
					<br><br>
					<span id="imagen_preview">
						{% if blog.imagen %}
							<img src="{{ blog.imagen.url }}" width="250px"/>
						{% endif %}
					</span>
					<span id="descripcion" style="padding-left: 300px">
						<FONT SIZE=4 >{{ blog.descripcion|safe }}</FONT>
						<br>
						{% if blog.modo != 3 %}
							{% if blog.articulos.count > 0 %}
								<a href="lista_detalle/{{ blog.id }}"><FONT SIZE=6><p style="text-align: left;">Ver más</p></FONT></a>
							{% endif %}
						{% else %}
							{% if blog.articulos.count > 0 %}
								<a href="detalle/{{ blog.id }}-{{ blog.articulos.all.first.id }}"><FONT SIZE=6><p style="text-align: left;">Ver más</p></FONT></a>
							{% endif %}
						{% endif %}
						<br>
					</span>
					<span>
						<hr style="border-width: 1px;background-color:black;color:black;border-style: inset;">
					</span>
				</div>
			{% endfor %}
		</ul>
		{% endblock %}
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
