<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Blog de Nutrición sin gluten{% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<meta name="viewport" content="width=400" />
<body style="background-color:white; color:#8A2908">
	<script src="/media/jquery-1.11.3.js"></script>
	<script src="/media/bootstrap/js/bootstrap.min.js"></script>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<FONT SIZE=4>
		<div class="navbar-inner" style="width:100%;">
			<div align="left" style="width: 50%; float: left;">
				{% if volver %}
					<ul class="nav navbar-nav">
						<li><a href="/blog" >Volver</a></li>		
					</ul>
				{% endif %}
				{% if login %}
					<ul class="nav navbar-nav">
						{% if usuario %}
							<li><a href="logout" >Logout</a></li>
						{% else %}
							<li><a href="login" >Loguin</a></li>
						{% endif %}				
					</ul>
				{% endif %}
			</div>
			<div align="right" style="left: 50%; width: 50%; float: left;">
				{% if usuario %}
					{% if login %}
						<span style="vertical-align: middle;"><FONT COLOR="white">{{ usuario.usuario }}</FONT></span><br>
						<span style="vertical-align: middle;"><a href="config_account" >Configurar cuenta</a></span>
					{% else %}
						<span style="vertical-align: middle;"><FONT COLOR="white">{{ usuario.usuario }}</FONT></span>
					{% endif %}
				{% endif %}
			</div>
		</div>
		</FONT>
	</nav>
	<br><br><br>
	<div id="sidebar">
		<ul>
			<h1>{{ blog }}</h2>
			<hr style="border-width: 1px">
			{% for articulo in blog.articulos.all %}
				<div id="imagen_preview" style="float:left;width:10%;padding-right:2%;">
					{% if articulo.imagen %}
						<img src="{{ articulo.imagen.url }}"/>
					{% endif %}
				</div>
				<div id="descripcion" style="width:90%">
					<FONT SIZE=6><p style="text-align: left;">{{ articulo.titulo }}</p></FONT><br>
					<FONT SIZE=4 ><p style="text-align: left;">{{ articulo.descripcion|safe }}</p></FONT><br>
					<FONT SIZE=2 ><p style="text-align: right;">Creado el {{ articulo.fecha_creacion}}</p></FONT><br>
					<a href="/blog/detalle/{{ blog.id }}-{{ articulo.id }}"><FONT SIZE=6><p style="text-align: center;">Ver más</p></FONT></a>
				</div>
				<hr style="border-width: 1px">
				<br>
			{% endfor %}
		</ul>
	</div>
	{% if blog.modo == 1 %}
		<div id="sidebar">
			<ul style="padding:1%;>">
				<font size="4">{{ blog.titulo}} subidos por los usuarios:</font><br><br>
				{% for art_user in blog.articulos_usuario.all %}
					<div style="width:60%;padding-left:20%;">
						<hr style="border-width: 1px">
						<div align="left">
							<FONT SIZE=3>{{ art_user.titulo }}</FONT>
							<br><br>
							<FONT SIZE=2>{{ art_user.mensaje|safe }}</FONT>
						</div>			
						<br>
						<div align="right">
							<FONT SIZE=1><I>Fecha de publicación: {{ art_user.fecha_creacion }}</I></FONT>
							<br><br>
						</div>
					</div>
				{% endfor %}
				
			</ul>
		</div>
	{% endif %}
</body>
</html>
