<!DOCTYPE html>
<html>
<head>
<!--
	<link rel="stylesheet" href="style.css" />
-->
	<title>{% block title %}Blog de Nutrición sin gluten{% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<meta name="viewport" content="width=400" />
<body style="background-color:black; color:orange">
	<script src="/media/jquery-1.11.3.js"></script>
	<script src="/media/bootstrap/js/bootstrap.min.js"></script>
	<div>
		<form action="."  method="POST">
			{% csrf_token %}
			<br>
			Usuario: <input type="text" name="user" value="" required>
			<br>
			Contraseña: <input type="password" name="pass" value="">
			<br><br>
			<input type="submit" value="acceder">
			<input type="button" value="volver" onclick="window.open('..','_self');">
			<input type="button" value="crear cuenta" onclick="window.open('create_user','_self');">
		</form> 
	</div>
	{% if err_loguin == "si" %}
		<font size="4" color="red">Usuario o contraseña inválido...</font>
	{% endif %}
</body>
</html>
