<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Parseador de productos para NOA Gluten Free{% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<script>

function cargar() {
	var proceso = document.getElementById("proceso");
	proceso.value="1";
}	

function abrir() {
	var proceso = document.getElementById("proceso");
	proceso.value="0";
}

</script>
<body style="background-color:black; color:orange">
	 {% load filtros %}
	<div id="sidebar">
		<form action="parseador" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="proceso" id="proceso" value="0" >
			<input type="file" name="archivo" accept=".tpl" id="archivo">
			<br>
			<input type="submit" value="abrir" onclick="abrir();">
			<br>
			<input type="submit" value="cargar" onclick="cargar();">
		</form>
	</div>
	<div id="lista">
		{% if respuesta != "" %}
			<hr>
			{{ respuesta }}
			<hr>
		{% else %}
			<hr>
			<div style="color: #800080; ">			
			{% for mgrp in pgrupos %}
				<div align="center" style="text-align: center; "><br><b>{{ grupos|index:forloop.counter0 }}</b></div>
				<table border="border" align="center" width="95%" style="background-color: #90EE90; ">			
				<tr>
					<td>MARCA</td>
					<td>DESCRIPCIÓN</td>
					<td>RNPA</td>
				</tr>
				{% for item in mgrp %}
					<tr> 
						<td>{{ item.0 }}</td>
						<td>{{ item.1 }}</td>
						<td>{{ item.2 }}</td>
					</tr>
				{% endfor %}
				</table>		
			{% endfor %}
			</div>
			<hr>
		{% endif %}
	</div>
</body>
</html>
